<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <title>The Games</title>
  </head>
  <body>
    <h1>ROCK PAPER SCISSORS</h1>

    <div class="container">
        <div class="row">
                <div class="col-sm-4 col-md-4">
                  <h2 class="nickName">PLAYER 1</h2>
                  <div class="player">
                        <div><img src="../public/img/batu.png" class="pilihanPlayer" id="pb"></div>
                        <div><img src="../public/img/kertas.png" class="pilihanPlayer" id="pk"></div>
                        <div><img src="../public/img/gunting.png" class="pilihanPlayer" id="pg"></div>
                  </div>
                </div>


                <div class="col-sm-4 col-md-4">
                    <div class="keterangan">
                        <h2 class="hasil">VS</h2>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                  <h2 class="nickName">COMPUTER</h2>
                    <div class="computer">
                        <div><img src="../public/img/batu.png" class="pilihanComputer" id="cb"></div>
                        <div><img src="../public/img/kertas.png" class="pilihanComputer" id="ck"></div>
                        <div><img src="../public/img/gunting.png" class="pilihanComputer" id="cg"></div>
                  </div>
                </div>
              </div>
        </div>
              <div class="reload">
                    <img src="../public/img/refresh.png" id="reload">
              </div>
    </div>















    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../public/js/script.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>