<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../public/css/style-chapter3.css">
    <title>Traditional Game</title>
  </head>
  <body>
  <center>
  <!-- pages 1 -->
    <div class="page1">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2e282894;">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT ME</a>
            </li>
          </ul> 
          <form class="form-inline ml-auto mt-lg-0">
            <button type="button" class="btn btn-outline-light mr-3">Sign Up</button>
            <button type="button" class="btn btn-outline-light">Login</button>
        </form>
        </div>
      </nav>
      <!-- CONTENT -->
      <div class="container content-page1">
        <h1 style="font-size: 3.2rem; font-weight: bold;">PLAY TRADITIONAL GAME</h1>
        <P style="font-size: 1.8rem;">Experience New Traditional Game Play</P>
        <a href="../views/game.ejs" type="button" class="btn btn-warning">PLAY NOW</a>
      </div>
    </div>
    
  <!-- pages 2 -->
    <div class="page2">
        <div class="container">
          <h1>THE GAMES</h1>
           <div class="row" style="padding-top: 40px;">
              <!-- colom 1 -->
              <div class="col-md-4" style="text-align: left;">
                  <h3>What's so special?</h3> <br>
                  <p>This game is designed for those of you who want a challenge and a little gambling, you are also forced to guess what your opponent is thinking because the more you can read your opponent's mind the better your chance of winning.</p>
              </div>
              <!-- colom 2 -->
              <div class="col-md-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img class="d-block w-100" src="../public/img/rockpapers.png" alt="First slide">
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="../public/img/rockpapers.png" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="../public/img/rockpapers.png" alt="Third slide">
                      </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                      data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                      data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
          </div>
        </div>
    </div>

  <!-- pages 3 -->
    <div class="page3">
      <div class="container">
          <h1>FEATURES</h1>
      
        <div class="row">
          <div class="col-md-5 ml-auto" style="padding-top: 100px;text-align: left;">
              <h3>How's so special?</h3>
                  <h5 style="color:#8f690a;">TRADITIONAL GAMES</h5>
                  <P>This is a traditional game from around the world, this game is usually done to determine the order or just for fun. So? what do you waiting for? let's play this games.</P>
                  <h5 style="color: #8f690a;"> GAME SUIT</h5>
                  <h5 style="color: #8f690a;" >TBD</h5>
          </div>
        </div>
      </div>
    </div>

  <!-- pages 4 -->
  <div class="page4">
    <div class="container">
        <h1>SYSTEM REQUIRMENT</h1>
        <h3 style="padding-top: 30px; text-align: left;">Can My Computer Run this game?</h3>
      <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-dark">
                <tbody>
                    <tr>
                        <th scope="row">
                            <h4 style="color: #8f690a;">OS:</h4>
                            <p>Windows 7 64-bit only <br> (No OSX support at this time)</p>
                        </th>
                        <th scope="row">
                            <h4 style="color: #8f690a;">PROCESSOR:</h4>
                            <p>Intel Core 2 Duo @ 2.4 GHZ or <br> AMD Athlon X2 @ 2.8 GHZ</p>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <h4 style="color: #8f690a;">MEMORY:</h4>
                            <p>4 GB RAM</p>
                        </th>
                        <th scope="row">
                            <h4 style="color: #8f690a;">Storage:</h4>
                            <p>8 GB available space</p>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">
                            <h4 style="color: #8f690a;">GRAPHICS:</h4>
                            <p>NVIDIA GeForce GTX 660 2GB or <br>
                                AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                            </p>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
  </div>
  <!-- Pages 5 -->
  <div class="page5">
    <div class="container">
            <h1>TOP SCORE</h1>
            <div class="card-deck" style="padding-top: 3rem; color: black;">
              <div class="card">
                <center><img class="card-img-top" src="../public/img/dadang.png" alt="Card image cap"></center>
                <div class="card-body">
                  <h5 class="card-title">Dadang Supriyadi</h5>
                  <p class="card-text">“Abi resep pisan ieu game, dugi ka kabawa mimpi.”</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desember 18, 2020</small>
                </div>
              </div>
              <div class="card">
                <center><img class="card-img-top" src="../public/img/helena.png" alt="Card image cap"></center>
                <div class="card-body">
                  <h5 class="card-title">Helena</h5>
                  <p class="card-text">“One of my gaming highlights of the year.”</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desember 27, 2020</small>
                </div>
              </div>
              <div class="card">
                <center><img class="card-img-top" src="../public/img/asep.png" alt="Card image cap"></center>
                <div class="card-body">
                  <h5 class="card-title">Asep Darajat</h5>
                  <p class="card-text">“Moal aya nu ngelehkeun aing, aing Maung.”</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desember 31, 2020</small>
                </div>
              </div>
            </div><br> <br> <br>
            <a class="btn btn-primary btn-xl" href="#services">See More</a>
    </div>
</div>

<!-- pages 6 -->

<div class="page6">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <img src="../public/img/skull.png" alt="">
          </div>
          <div class="col-md-6" style="text-align: left;">
              <h1 class="section-subheading">NEWSLETTER SUBSCRIBE</h1>
              <h3 class="section-subheading">Want to stay in touch?</h3>
              <p>In order to start receiving our news, all you have to do is enter your email address. Everything
                  else will be taken care of by us. We will send you emails containing information about game. We
                  don’t spam.</p>
                  <form>
                    <div class="form-group" style="text-align: left; padding-top: 2rem;">
                      <label for="exampleInputEmail1">Your email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">subscribe now</button>
                  </form>
          </div>
      </div>
  </div>
</div>

<!-- footer -->
 <div class="container-fluid">
      <div class="row">
            <div class="col-sm-12" style="background-color:black; color:white; text-align: center;"> <br>
                <a href="#"><img class="image" border="0" title="#" src="../public/img/facebook.png" width="40px" height="40px" ></a>
                <a href="#"><img class="image" border="0"title="#" src="../public/img/instagram.png" width="40px" height="40px"></a>
                <a href="#"><img class="image" border="0"title="#" src="../public/img/twitter.png" width="40px" height="40px"></a>
                <a href="#"><img class="image" border="0"title="#" src="../public/img/youtube.png" width="40px" height="40px"></a>
                <hr style="background-color: #4E4E4E;">
                <p>Copyright &copy; 2021 All right are reserved.</p>
            </div>
      </div>
</div>
        
</center>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>